.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 80px;
  z-index: 100;
  background: rgba(0, 0, 0, 1);
  transition: all 0.3s ease;
  margin-top: 0;
}

.headerScrolled {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.headerAtTop {
  background: rgba(0, 0, 0, 1);
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  box-shadow: none;
}

.logoContainer {
  margin-left: 10px;
}

.navContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navLinks {
  display: flex;
  gap: 20px;
  padding: 8px 50px;
  background-color: rgba(44, 44, 44, 0.8);
  border-radius: 35px;
  list-style: none;
}

.navLinks li a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 19px;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

.navLinks li a:hover {
  color: #ff7834;
}

.getStarted {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 19px;
  padding: 8px 16px;
  background: rgba(252, 251, 255, 0.9);
  border-radius: 35px;
  color: #000000;
  cursor: pointer;
  border: none;
  margin-right: 10px;
}

.arrowIcon {
  margin-left: 8px;
}

@media (max-width: 575px) {
  .navContainer {
    display: none;
  }
  .getStarted {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .getStarted {
    display: none;
  }
  .navContainer {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .getStarted {
    display: none;
  }

  .navContainer {
    display: none;
  }
}

@media (min-width: 1024px) {
}
