
.productSection {
    text-align: center;
    padding: 80px 0;
    background-color: #121212;
}

.products {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.product {
    text-align: center;
}

.imagePlaceholder {
    width: 200px;
    height: 200px;
    background-color: #e0e0e0;
    margin-bottom: 20px;
}

